.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    max-width: 100%;
}

.intro img {
    width: 100%;
    max-width: 100%;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
    text-align: left;
}

@media (max-width: 68rem) {
    .intro {
        display: flex;
        flex-direction: column;
    }
}