.agenda {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 100%;
}

.table td {
    vertical-align: middle;
    padding: 0.75rem;
    text-align: left;
    align-items: flex-start;
}

.table td p, .table th h5 {
    margin: 0;
    display: flex;
    height: 100%;
}

.time-column {
    width: 20%;
}

.item-column {
    width: 80%;
}

.header-row {
    background-color: var(--color-secondary-light) !important;
}

.header-day-row {
    background-color: var(--color-secondary-lighter) !important;
}

.details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

@media (max-width: 62rem) {
    .details {
        display: flex;
        flex-direction: column;
    }
}