.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap: 3rem;
}

.gallery img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 98rem) {
    .gallery img {
        height: 12rem;
    }
}

@media (max-width: 92rem) {
    .gallery img {
        height: 10rem;
    }
}

@media (max-width: 86rem) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img {
        height: 16rem;
    }
}

@media (max-width: 80rem) {
    .gallery img {
        height: 14rem;
    }
}

@media (max-width: 74rem) {
    .gallery img {
        height: 12rem;
    }
}

@media (max-width: 68rem) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery img {
        height: 16rem;
    }
}

@media (max-width: 46rem) {
    .gallery img {
        height: 12rem;
    }
}

@media (max-width: 38rem) {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery img {
        height: 20rem;
    }
}

@media (max-width: 32rem) {
    .gallery img {
        height: 16rem;
    }
}

@media (max-width: 30rem) {
    .gallery img {
        height: 14rem;
    }
}