.id-logo {
    width: 100%;
    min-width: 100%;
    border-radius: 0;
    object-fit: cover;
}

.less-padding {
    padding-bottom: 0 !important;
    width: 100% !important;
}

.img-box {
    background-color: black;
}